{
  "splunk_host": "192.168.1.100",
  "splunk_hec_host": "192.168.1.100",
  "splunk_mgmt_host": "",
  "splunk_port": 8088,
  "hec_token": "",
  "use_https": false,
  "verify_tls": false,
  "default_index": "test",
  "security_content_path": "/path/to/security_content/detections",
  "attack_data_path": "/path/to/attack_data",
  "ssh_enabled": false,
  "ssh_host": "",
  "ssh_port": 22,
  "ssh_user": "",
  "ssh_password": "",
  "ssh_key_path": "",
  "ssh_remote_host": "",
  "connection_mode": "local",
  "remote_total_replay_dir": "",
  "remote_security_content_path": "",
  "remote_attack_data_path": "",
  "remote_python_cmd": "python3",
  "replay_engine": "local_cli",
  "local_total_replay_dir": "",
  "local_python_cmd": "python3",
  "splunk_mgmt_port": 8089,
  "splunk_mgmt_token": "",
  "splunk_username": "",
  "use_index_mapping": true,
  "splunk_mgmt_use_https": true,
  "index_planner_search": "| tstats count where earliest=-365d latest=now index=* by index sourcetype | fields - count"
}
